* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto';
}

*:focus {
    outline: none;
}

body {
    background-color: #F7FFF7;
}

header {
    display: block;
    position: relative;
    
    width: 100%;
    height: 100px;
    background-color: #014F86;
}

#navbar-title {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 42,19px;
}

#aviso{
    display: flex;
    justify-content: center;
    font-weight: 300;
}

section {
    display: block;
    margin: 30px 20px;
}

#user-data--line {
    border: 1px solid #002036;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

input {
    font-size: 16px;
    width: 360px;
    padding: 15px;
    margin: 1em 0;
    background: #D3D3D3;
    border-style: none;
    border-radius: 20px;
    transition-duration: .3s;
}


.form-input-inline {
    display: flex;
    justify-content: space-between;
}

.form-input-inline-number {
    width: 100px;
}

input:focus{
    background: #f2f2f2;
    box-shadow: 1px 1px 6px rgb(47, 47, 48); 
}

#resume-data {
    background: #F5F3F4;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 240px;
}

#resume-data ::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
#resume-data ::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
 }
  
  #resume-data ::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }

.resume-data--item {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-specs {
    display: flex;
    flex-direction: row;
}

.item-image {
    width: 110px;
    height: 110px;
    background: #D3D3D3;
}

.item-description {
    padding: 10px;
}

.resume-data--preco {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.preco-frete {
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.preco-total {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

#buttons {
    display: flex;
    flex-direction: row-reverse;
    height: 53px;
}

.button {
    font-weight: bold;
    font-size: 15px;
    background: #014F86;
    padding: 10px;
    border-radius: 10px;
    border: thistle;
    cursor: pointer;
    transition-duration: .3s;
}

.button:hover {
    color: rgb(225, 226, 228);
    background: #01233b;
    box-shadow: 1px 1px 8px rgb(47, 47, 48);
}

.button-voltar {
    margin-right: 50px;
}

footer {
    display: flex;
    justify-content: center;
}

.footer-icon {
    margin: 50px 10px;
    height: 15px;
    width: 15px;
    padding: 20px;
    border-radius: 50%;
}

.footer-icon--fb {
    background-color: #2872e0;
}

.footer-icon--ig {
    background-color: #bb28e0;
}

.footer-icon--tt {
    background-color: #28e0b2;
}

.footer-icon--yt {
    background-color: #e02e28;
}


/* __________ MEDIA QUERIES __________*/

@media (max-width: 500px) {

    h1 {
        font-size: 20px;
    }

    form {
        margin: 2%;
    }

    input {
        font-size: 12px;
        width: 260px;
        padding: 15px;
        margin: 1em;
    }

    .form-input-inline-number {
        width: 50px;
    }

    .item-image {
        width: 80px;
        height: 80px;
    }

    .item-description {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }
}

@media (min-width: 500px) and (max-width: 580px) {
    form {
        margin: 2%;
    }

    input {
        font-size: 12px;
        width: 330px;
    }

    .form-input-inline-number {
        margin-left: 5%;
        width: 80px;
    }
}


@media (min-width: 580px) and (max-width: 700px) {
    form {
        margin: 5%;
    }

    input {
        width: 400px;
    }

    .form-input-inline-number {
        margin-right: 5%;
        margin-left: 6%;
    }
}

@media (min-width: 700px) and (max-width: 850px) {
    section {
        margin: 50px 40px;
    }

    form {
        margin: 5%;
    }

    input {
        width: 460px;
    }

    .form-input-inline-number {
        width: 110px;
        margin-right: 5%;
        margin-left: 6%;
    }

    .item-image {
        width: 140px;
        height: 140px;
    }


    #resume-data {
        padding: 2%;
    }
}

@media (min-width: 850px) and (max-width: 950px) {
    section {
        margin: 50px 40px;
    }

    form {
        margin: 6%;
    }

    input {
        width: 500px;
        padding: 20px;
        margin: 1em;
    }

    .form-input-inline-number {
        width: 110px;
        margin-right: 5%;
        margin-left: 6%;
    }

    .item-image {
        width: 140px;
        height: 140px;
    }

    #resume-data {
        padding: 3%;
    }
}

@media (min-width: 950px) and (max-width: 1600px) {
    section {
        margin: 50px 100px;
    }

    form {
        margin: 4%;
    }

    input {
        width: 700px;
        padding: 20px;
    }

    .form-input-inline-number {
        width: 110px;
        margin-right: 5%;
        margin-left: 6%;
    }

    .item-image {
        width: 140px;
        height: 140px;
    }

    #resume-data {
        padding: 3%;
    }
}